<a href="https://colab.research.google.com/github/JoeHeeJae/Movie-Recommendation-System-Colon-coding/blob/main/%EC%98%81%ED%99%94_%EC%B6%94%EC%B2%9C%EC%8B%9C%EC%8A%A4%ED%85%9C_%ED%81%B4%EB%A1%A0%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# csv 파일 불러오기

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Data_csv/movies_metadata.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
data.shape

(45466, 24)

In [ ]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# 데이터 전처리

In [ ]:
data = data[['id','genres','vote_average', 'vote_count', 'popularity', 'title', 'overview']]

## Weighted Rating 
- WR = (v / (v +m)) * R + (m / (v + m)) * C

In [ ]:
# m = 500rate
# 500위 안에 들기 위해 상위 몇 % 인지 구하기
m = data['vote_count'].quantile(0.9) #두번 실행
data = data.loc[data['vote_count'] >= m]

In [ ]:
data.head()
data.shape

(456, 7)

In [ ]:
data.head()

,id,genres,vote_average,vote_count,popularity,title,overview
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.7,5415.0,21.946943,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
46,807,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",8.1,5915.0,18.45743,Se7en,Two homicide detectives are on a desperate hun...
256,11,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",8.1,6778.0,42.149697,Star Wars,Princess Leia is captured and held hostage by ...
292,680,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",8.3,8670.0,140.950236,Pulp Fiction,"A burger-loving hit man, his philosophical par..."
314,278,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8.5,8358.0,51.645403,The Shawshank Redemption,Framed in the 1940s for the double murder of h...

In [ ]:
C = data['vote_average'].mean()

In [ ]:
print(C)
print(m)

6.994736842105263
2181.000000000002

In [ ]:
def weighted_rating(x, m=m, C=C):
  v = x['vote_count']
  R = x['vote_average']
  return ( v / (v + m) * R ) + (m / (v + m) * C)

In [ ]:
data['score'] = data.apply(weighted_rating, axis=1)

In [ ]:
data.head(5)

,id,genres,vote_average,vote_count,popularity,title,overview,score
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.7,5415.0,21.946943,Toy Story,"Led by Woody, Andy's toys live happily in his ...",7.497501
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.9,2413.0,17.015539,Jumanji,When siblings Judy and Peter discover an encha...,6.944976
31,63,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",7.4,2470.0,12.297305,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",7.209959
46,807,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",8.1,5915.0,18.45743,Se7en,Two homicide detectives are on a desperate hun...,7.802251
49,629,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8.1,3334.0,16.302466,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",7.662905

In [ ]:
data.shape

(456, 8)

In [ ]:
data['genres'].head(2)

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
Name: genres, dtype: object

In [ ]:
# Python list 안에 dictionary 포함된 구조,
# 문자열(string) 형태로 되어있어 변환이 필요 >> Python 패키지 ast 안에 있는 lieral_eval 사용
import ast
data['genres'] = data['genres'].apply(ast.literal_eval)

In [ ]:
data['genres'].head(2)
# 데이터를 리스트나 딕셔너리처럼 핸들링이 가능한 형태로 변환

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
Name: genres, dtype: object

In [ ]:
# genres 에서 name만 뽑아내기
data['genres'] = data['genres'].apply(lambda x : [d['name'] for d in x]).apply(lambda x : " ".join(x))

In [ ]:
data.head(2) # dict형태 > list 형태 > 띄어쓰기로 이루어진 str 변경

,id,genres,vote_average,vote_count,popularity,title,overview,score
0,862,Animation Comedy Family,7.7,5415.0,21.946943,Toy Story,"Led by Woody, Andy's toys live happily in his ...",7.497501
1,8844,Adventure Fantasy Family,6.9,2413.0,17.015539,Jumanji,When siblings Judy and Peter discover an encha...,6.944976

# 콘텐츠 기반 필터링 추천 하기

## 문자열을 벡터화 시키기
- Python scikit learn.CountVectorizer 이용

In [ ]:
data.genres.head(2)

0     Animation Comedy Family
1    Adventure Fantasy Family
Name: genres, dtype: object

In [ ]:
import numpy as np
import sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
count_vector = CountVectorizer(ngram_range=(1, 3)) #객체 생성

In [ ]:
c_vector_genres = count_vector.fit_transform(data['genres']) #변환

In [ ]:
c_vector_genres.shape

(456, 354)

## 유사한(similarity) 측정하기
- 코사인 유사도 사용. 
- scikitlearn 의 cosine similarity 지원
- argsort 로 유사도가 가장 높은 인덱스를 오름순차로 정렬

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# 코사인 유사도를 구한 벡터 미리 저장
gerne_c_sim = cosine_similarity(c_vector_genres, c_vector_genres).argsort()[:, ::-1]

In [ ]:
gerne_c_sim.shape

(456, 456)

In [ ]:
def get_recommend_movie_list(df, movie_title, top=30):
  #특정 영화와 비슷한 영화를 추천해야 하기 때문에 '특정 영화' 정보를 뽑아낸다.
  target_movie_index = df[df['title'] == movie_title].index.values
  #코사인 유사도 중 비슷한 코사인 유사도를 가진 정보를 뽑아낸다.
  sim_index = gerne_c_sim[target_movie_index, :top].reshape(-1)
  #본인을 제외
  sim_index = sim_index[sim_index != target_movie_index]
  #data frame으로 만들고 vote_count로 정렬한 뒤 return
  result = df.iloc[sim_index].sort_values('score', ascending=False)[:10]
  return result

# 결과

In [ ]:
get_recommend_movie_list(data, movie_title='Jumanji')

,id,genres,vote_average,vote_count,popularity,title,overview,score
7000,122,Adventure Fantasy Action,8.1,8226.0,29.324358,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,7.868369
4863,120,Adventure Fantasy Action,8.0,8892.0,32.070725,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",7.801998
7725,673,Adventure Fantasy Family,7.7,6037.0,28.460276,Harry Potter and the Prisoner of Azkaban,"Harry, Ron and Hermione return to Hogwarts for...",7.512828
22059,57158,Adventure Fantasy,7.6,4633.0,20.644776,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...",7.406270
6390,22,Adventure Fantasy Action,7.5,7191.0,47.326665,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",7.382418
4766,671,Adventure Fantasy Family,7.5,7188.0,38.187238,Harry Potter and the Philosopher's Stone,Harry Potter has lived under the stairs at his...,7.382380
10554,674,Adventure Fantasy Family,7.5,5758.0,24.903058,Harry Potter and the Goblet of Fire,"Harry starts his fourth year at Hogwarts, comp...",7.361194
16128,12444,Adventure Fantasy Family,7.5,5708.0,23.300362,Harry Potter and the Deathly Hallows: Part 1,"Harry, Ron and Hermione walk away from their l...",7.360314
5678,672,Adventure Fantasy Family,7.4,5966.0,29.741452,Harry Potter and the Chamber of Secrets,"Ignoring threats to his life, Harry returns to...",7.291509
11927,675,Adventure Fantasy Family Mystery,7.4,5633.0,21.3643,Harry Potter and the Order of the Phoenix,Returning for his fifth year of study at Hogwa...,7.286885